<%- include("../includes/header.ejs", {title:"View all Resumes"}); %>

<h1>Resumes</h1>
<br />

<table border="1">
    <tr><th>First Name</th><th>Last Name</th><th>Resume Name</th><th>Edit</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/resume/?resume_id=<%= result[i].resume_id %>"><%= result[i].first_name %></a></td>
        <td><a href="/resume/?resume_id=<%= result[i].resume_id %>"><%= result[i].last_name %></a></td>
        <td><a href="/resume/?resume_id=<%= result[i].resume_id %>"><%= result[i].resume_name %></a></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/resume/edit/?resume_id=<%= result[i].resume_id %>'">Edit</button>
        </td>
    </tr>
    <% } %>
</table>
<br>
<a href="/resume/add/selectuser">Create New Resume</a> <br />


<%- include("../includes/footer.ejs"); %>