<%- include("./includes/header.ejs", {title: title}); %>


    <p>Welcome to <%= title %></p>


    <a href="/company/all">Companies - View, add or make changes to your companies</a>
    <br>
    <a href="/account/all">Accounts - View, add or make changes to your accounts</a>
    <br>
    <a href="/skill/all">Skills - View, add or make changes to your skills</a>
    <br>
    <a href="/address/all">Address - View, add or make changes to your addresses</a>
    <br>
    <a href="/resume/all">Resumes - View, add or make changes to your resumes</a>


    <br />

<%- include("./includes/footer.ejs"); %>
