<%- include("../../includes/header.ejs", {title:"Select User"}); %>

<h1>Add new resume to <%= account.first_name%> <%= account.last_name%></h1>

<br />
<form action="/resume/add/submit" method="post">
    <input type="hidden" id="account_id" name="account_id" value="<%= account.account_id %>">
    Resume Name: <input id="resume_name" name="resume_name" type="text"/>
    <br>
    <br>
    <select id="company_id" name="company_id" multiple="Multiple">
        <% for(var i=0; company.length > i; i++ ) {
            var selected = "";

            if(company[i].company_id != null) {
                selected = "selected";
            }
        %>
        <option value="<%= company[i].company_id %>" <%= selected %> ><%= company[i].company_name %></option>
        <% } %>
    </select>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#company_id').multiselect();
        });
    </script>

    <br />

    <br>
    <select id="skill_id" name="skill_id" multiple="Multiple">
        <% for(var i=0; skill.length > i; i++ ) {
            var selected = "";

            if(skill[i].skill_id != null) {
                selected = "selected";
            }
        %>
        <option value="<%= skill[i].skill_id %>" <%= selected %> ><%= skill[i].skill_name %></option>
        <% } %>
    </select>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#skill_id').multiselect();
        });
    </script>
    <br>
    <br>
    <select id="school_id" name="school_id" multiple="Multiple">
        <% for(var i=0; school.length > i; i++ ) {
            var selected = "";

            if(school[i].school_id != null) {
                selected = "selected";
            }
        %>
        <option value="<%= school[i].school_id %>" <%= selected %> ><%= school[i].school_name %></option>
        <% } %>
    </select>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#school_id').multiselect();
        });
    </script>

    <br />
    <br />
    <input type="submit" />

</form>

<%- include("../../includes/footer.ejs"); %>