<%- include("../../includes/header.ejs", {title:"Select User"}); %>

<h1>Select User</h1>
<form action="/resume/add/" method="get">

   <select id="account_id" name="account_id">
        <% for(var i=0; account.length > i; i++ ) {
            var selected = "";

            if(account[i].account_id != null) {
                selected = "selected";
            }
        %>
        <option value="<%= account[i].account_id %>" <%= selected %> ><%= account[i].first_name + ', ' + account[i].last_name %></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <!--<script type="text/javascript">
        $(document).ready(function() {
            $('#account_id').multiselect();
        });
    </script>-->

    <br />

    <input type="submit" />

</form>

<%- include("../../includes/footer.ejs"); %>