<%- include("../includes/header.ejs", {title:"address - " + result[0].street}); %>
<h1>address</h1>
<ul>
    <li>Street Number: <%= result[0].street %></li>
    <li>Zip Code: <%= result[0].zip_code %></li>
</ul>

<a href="/address/all"><< back</a>

<%- include("../includes/footer.ejs"); %>